body {
   background-color: #FFFFFF;
   font-family: "Roboto", Helvetica, sans-serif;
   color: #434455;
   letter-spacing: 0.02em;
   line-height: 1.5;
}

a {
   text-decoration: none;
}

ul {
   list-style-type: none;
}