.section-features .text-three {
   color: #2e2f42;
   line-height: 1.2;
}

.text-three {
   font-size: 20px;
   font-weight: 500;
}

.text-two {
   font-size: 36px;
   text-align: center;
   color: #2E2F42;
}

.section-features .container {
   display: flex;
   justify-content: center;
}

.section-features .container ul {
   display: flex;
   margin: 84px 0;
}

.section-features li {
   margin: 0 24px;
   max-width: 264px;
}