.section-team {
   background-color: #F4F4FD;
   display: flex;
   flex-direction: column;
}

.section-team ul li {
   background-color: white;
}

.section-team ul li p,
.section-team ul li h3 {
   text-align: center;
}

.section-team ul li h3 {
   line-height: 1.2;
   letter-spacing: 0.02em;
   color: #2e2f42;
}

.section-team ul {
   display: flex;
   justify-content: center;
   margin-bottom: 120px;
}

.section-team li {
   justify-content: center;
   width: 264px;
   margin: 0 12px;
}

.section-team li p {
   margin-bottom: 24px;
}

.section-team .text-two {
   letter-spacing: 0.02em;
   line-height: 1.11;
   text-align: center;
   color: #2e2f42;
   font-size: 36px;
}

.section-team .text-three {
   font-size: 20px;
   font-weight: 500;
}

.text-two {
   margin-top: 120px;
   margin-bottom: 72px;
}